<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/head :: head"/>

    <style>
        .status_pending {
            background: #c6330b33;
            color: #9a3316;
            padding: 5px;
            border-radius: 5px;
        }

        .status_completed {
            background: #0bc65433;
            color: #169a24;
            padding: 5px;
            border-radius: 5px;
        }

        .status_canceled {
            background: #fb1f1f54;
            color: #e61818;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
<th:block th:replace="layout/leftbar :: leftbar"/>

<th:block th:replace="layout/header :: header"/>


<!--new-list-->
<div class="order-list">
    <main id="_main_content_" class="ui-main">
        <div class="wrapper-block">

            <div class="padding-container">
                <div class="row no-gutters pb-4">
                    <div class="col align-items-center d-flex">
                        <p class="title-page">Danh sách đơn hàng</p>
                    </div>
                    <div class="col-auto pl-0">
                        <a class="btn btn-primary ml-3 " style="padding: 8px 10px" href="/orders/create">
                            <span class="d-none d-sm-inline-block">
                            <svg class="svg-next-icon svg-next-icon-size-16" width="16" height="16">
                                <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M6.99992 0.333374C3.31992 0.333374 0.333252 3.32004 0.333252 7.00004C0.333252 10.68 3.31992 13.6667 6.99992 13.6667C10.6799 13.6667 13.6666 10.68 13.6666 7.00004C13.6666 3.32004 10.6799 0.333374 6.99992 0.333374ZM6.33325 3.66671V6.33337H3.66658V7.66671H6.33325V10.3334H7.66658V7.66671H10.3333V6.33337H7.66658V3.66671H6.33325ZM1.66659 7.00004C1.66659 9.94004 4.05992 12.3334 6.99992 12.3334C9.93992 12.3334 12.3333 9.94004 12.3333 7.00004C12.3333 4.06004 9.93992 1.66671 6.99992 1.66671C4.05992 1.66671 1.66659 4.06004 1.66659 7.00004Z"></path>
                                </svg>
                            </svg>
                            </span>
                            <span class="ml-3 d-none d-sm-inline-block">Tạo đơn hàng</span></a>
                    </div>
                </div>
                <div>
                    <div class="omni-tabs-wrapper ">
                        <ul role="tablist" class="omni-tabs false">
                            <li class="omni-tab-container"><a href="/orders"
                                                              class="omni-tab omni-tab-selected text-decoration-none">
                                <span class="text-black ">Tất cả đơn hàng</span></a></li>

                            <li class="false omni-disclosureTab">
                                <a class="omni-disclosureActivator">
                                    <span class="text-black">
                                        <span class="mr-2">Xem thêm</span>
                                        <svg class="svg-next-icon svg-next-icon-size-10 svg-next-icon-rotate-90"
                                             width="10" height="10">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.846 451.847">
                                                <g>
                                                    <path
                                                            d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="omni-tabs omni-tabMeasurer">
                            <li class="omni-tab-container">
                                <a href="/orders" class="omni-tab omni-tab-selected  text-decoration-none">
                                    <span class="text-black">Tất cả đơn hàng</span>
                                </a>
                            </li>
                            <a class="omni-disclosureActivator">
                                <span class="text-black">
                                    <span class="mr-2">Xem thêm</span>
                                    <svg class="svg-next-icon svg-next-icon-size-10 svg-next-icon-rotate-90" width="10"
                                         height="10">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.846 451.847">
                                            <g>
                                                <path
                                                        d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z">
                                                </path>
                                            </g>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div>
                            <div class="position-relative">
                                <div class="order-list--table table-list--config">
                                    <div class="ui-table-listing-container">

                                        <table id="tbListOrders" class="ui-table">
                                            <thead>
                                            <tr>
                                                <th class="table-header--id">
                                                    <span>#</span>
                                                </th>
                                                <th class="table-header--datetime">
                                                    <span>Ngày tạo</span>
                                                </th>
                                                <th class="table-header--name ">
                                                    <span>Khách hàng</span>
                                                </th>
                                                <th class="table-header--status">
                                                    <span>Trạng thái</span>
                                                </th>
                                                <th class="table-header--money">
                                                    <span class="text-primary">Tổng tiền</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="_container_portal_"></div>
    </main>
</div>

<th:block th:replace="/layout/script :: script"/>


<script>

    const page = {
        urls: {
            orderAPI: App.BASE_URL_ORDER
        },
        elements: {}
    }

    page.elements.tbListOrders = $("#tbListOrders");


    function loadTableListOrders() {
        $(() => {
            productTable = page.elements.tbListOrders.DataTable({
                ajax: {
                    contentType: "application/json",
                    url: page.urls.orderAPI,
                    type: "GET",
                    dataSrc: ""
                },
                lengthMenu: [
                    [10, 15, 20, -1],
                    ["10", "15", "20", "All"]
                ],
                searching: true,
                select: true,
                bDestroy: true,
                ordering: false,
                columns: [
                    {
                        data: "id",
                        render: function(id) {
                            return `<a href="/orders/detail/${id}">${id}</a>`;
                        }
                    },
                    {
                        data: "createAt"
                    },
                    {
                        data: "customer",
                        render: function(customer) {
                            return `<a href="/customers/detail/${customer.id}">${customer.fullName}</a>`;
                        }
                    },
                    {
                        data: "orderStatus",
                        className: "text-center",
                        render: function(orderStatus) {
                            let style = "status";

                            if(orderStatus.titleEn === "PENDING"){
                                style = "status_pending";
                            }
                            if(orderStatus.titleEn === "COMPLETED"){
                                style = "status_completed";
                            }
                            if (orderStatus.titleEn === "CANCEL") {
                                style = "status_canceled";
                            }

                            return `<span class="${style}">${orderStatus.titleVi}</span>`;
                        }
                    },
                    {
                        data: "id"
                    }
                ],
                columnDefs: [
                    {
                        targets: 4,
                        className: "text-right",
                        render: function (data, type, row, meta) {
                            let color = "#9a3316";

                            if (row.orderStatus.titleEn === "PENDING"){
                                color = "#9a3316";
                            }
                            if (row.orderStatus.titleEn === "COMPLETED"){
                                color = "#169a24";
                            }
                            if (row.orderStatus.titleEn === "CANCEL") {
                                color = "#e61818";
                            }

                            let formatPrice = new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(row.grandTotal);
                            return `<span style="color:${color}">${formatPrice}</span>`;
                        }
                    }
                ]
            })
        });
    }

    loadTableListOrders();

</script>

</body>
</html>
